# Node
server/node_modules/
server/.env

# Unity
client-unity/Library/
client-unity/Temp/
client-unity/Obj/
client-unity/Logs/
client-unity/UserSettings/
client-unity/Build/

# OS junk
.DS_Store
Thumbs.db
